.menu-bar {
  /* height: 88vh; */
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
}

.sidebar {
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  /* width: 100%; */
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}
